# === API ===
DB_NAME="your_db_name"
DB_URL="mongodb://<DB_USER>:<DB_PASS>@mongo:27017/?authSource=admin"
DB_USER="mongoadmin"
DB_PASS="mysecretpassword"
ENV="development"
API_PORT=3000
JWT_SECRET="your_jwt_secret"
JWT_ALGORITHM="HS256"
JWT_EXPIRATION_MINUTES=43200

# === GeoServer ===
GEOSERVER_ADMIN_USER="admin"
GEOSERVER_ADMIN_PASSWORD="geoserver"
GEOSERVER_WORKSPACE="CampoVertentes"
GEOSERVER_URL="http://geoserver:8080/geoserver"
WMTS_TEMPLATE_URL="http://localhost:8080/geoserver/gwc/service/wmts/rest/<LAYER_NAME>/EPSG:900913/EPSG:900913:{z}/{y}/{x}?format=<TILE_FORMAT>"
WFS_VERSION="1.1.0"

# === Solara ===
SOLARA_APP=campo_vertentes/campo_vertentes.pages
APP_PORT=8765
API_BASE_URL="http://api:3000/api/v1"
SHAPEFILE_PATH = "/campo_vertentes/data/municipiosIG/campo_Vertentes.shp"
COFFEE_SHAPEFILE_PATH = "/campo_vertentes/data/ig_cafe/ig_cafe.shp"