# API Config
API_BASE_URL = ""

# GeoServer
GEOSERVER_WORKSPACE="CampoVertentes"
GEOSERVER_URL="http://localhost:8080/geoserver"
WMTS_TEMPLATE_URL="http://localhost:8080/geoserver/gwc/service/wmts/rest/<LAYER_NAME>/EPSG:900913/EPSG:900913:{z}/{y}/{x}?format=image/png"
WFS_VERSION="1.1.0"
